---
import { AstroIcon } from "../media/icons/AstroIcon";
import { Css } from "../media/icons/Css";
import { Django } from "../media/icons/Django";
import { HTML } from "../media/icons/HTML";
import { JavaScript } from "../media/icons/JavaScript";
import { Python } from "../media/icons/Python";
import { React } from "../media/icons/React";
import { Tailwind } from "../media/icons/Tailwind";
---
<div
    class="
        flex
        items-center
        justify-center
        h-full
    "
>
    <div 
        class="
            grid
            grid-cols-4
            gap-2
        "
    >
        <HTML/>
        <Css/>
        <JavaScript/>
        <React/>
        <AstroIcon/>
        <Tailwind/>
        <Python/>
        <Django/>
        
    </div>
</div>